/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#pane{
    -fx-background-image: url("ice.jpg");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 1200 800;
    -fx-background-position: center center;
    -fx-background-color:transparent;
}
#main{
	-fx-padding: 30px;
	-fx-vgap: 30px;
	-fx-hgap: 20px;
	-fx-max-width: 700;
	-fx-max-height: 300;
	-fx-background-color: ffffff;
	-fx-font-size: 3.0em;
	-fx-alignment: center;
}

